@import url('https://fonts.googleapis.com/css2?family=Architects+Daughter&display=swap');

*{
  font-family: 'Architects Daughter', cursive;
  color: rgb(82, 82, 92);
  font-size: 20px;
}

.app {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.h1 {
  margin-bottom: 0;
  text-align: center;
  font-size: 50px;
  color: rgb(82, 82, 92);
}

.add{
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.sum {
  width: 200px;
  padding-top: 20px;
}

.enter{
  display: flex;
  align-items: center;
}

.input {
  display: flex;
  cursor: pointer;
  box-shadow: 10px 10px 3px 1px rgb(201, 201, 201)
}

.save {
  margin-left: 10px;
  background-color: white;
  cursor: pointer;
  box-shadow: 10px 10px 3px 1px rgb(201, 201, 201)
}

.save:hover {
  background: rgb(209, 209, 209);
}

.buttons {
  display: flex;
  border-color: none;
}

.status-bth {
  height: 40px;
  margin-right: 10px;
  background-color: white;
  cursor: pointer;
  box-shadow: 5px 5px 3px 1px rgb(201, 201, 201)
}

.statusSelected-btn {
  height: 40px;
  margin-right: 10px;
  background: rgb(209, 209, 209);
  cursor: pointer;
  box-shadow: 5px 5px 3px 1px rgb(201, 201, 201)
}

.lettering {
  margin-top: 10px;
  margin-left: 80px;
  margin-right: 10px;
  height: 30px;
}

.arrow-btn {
  height: 40px;
  margin-left: 10px;
  background-color: white;
  cursor: pointer;
  box-shadow: 5px 5px 3px 1px rgb(201, 201, 201)
}

.arrowSelected-btn {
  height: 40px;
  margin-left: 10px;
  background-color: rgb(209, 209, 209);
  cursor: pointer;
  box-shadow: 5px 5px 3px 1px rgb(201, 201, 201)
}

.todo-list {
  padding-left: 0;
}

.ant-form {
  padding-top: 10px;
  margin: 10px;
}

.task {
  background-color: white;
  width: 500px;
  display: flex;
  justify-content: space-between;
  border: 1px solid rgb(209, 209, 209);
  padding-top: 10px;
  padding-bottom: 10px;
  box-shadow: 5px 5px 3px 1px rgb(201, 201, 201)
}

.todo {
  margin: 0;
  overflow: hidden;
  cursor: pointer;
}

.todo:hover {
  background: rgb(209, 209, 209);
} 

.tasks {
  margin-top: 10px;
}

.text {
  margin-left: -150px;
  margin-top: 10px;
  z-index: -1;
}

.date {
  margin-right: -150px;
  margin-top: 10px;
}

.remove-btn {
  border: 1px solid white;
  background-color: white;
  cursor: pointer;
}

.pages {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

ul.pagination {
  margin: 0;
  padding: 0;
}

.pagination {
  display: flex;
  align-items: center;
  justify-content: space-between;
  cursor: pointer;
  list-style-type: none; 
}

.page:hover {
  background: rgb(209, 209, 209);
  margin-bottom: 3px;
} 

.page {
  display: inline-block;
  border: 1px solid rgb(150, 150, 150);
  height: 50px;
  width: 30px;
  font-size: 40px;
  text-decoration: none;
  box-shadow: 3px 3px 3px 1px rgb(201, 201, 201);
  margin-right: 5px;
  margin-left: 5px;
  text-align: center;
}

.pageSelected {
  display: inline-block;
  border: 1px solid rgb(150, 150, 150);
  background: rgb(209, 209, 209);
  height: 50px;
  width: 30px;
  font-size: 40px;
  text-decoration: none;
  box-shadow: 3px 3px 3px 1px rgb(201, 201, 201);
  margin-right: 5px;
  margin-left: 5px;
  text-align: center;
}

.prevPage {
  content: '\2714';
  margin-right: 10px;
  background-color: white;
  cursor: pointer;
  box-shadow: 5px 5px 3px 1px rgb(201, 201, 201)
}

.prevPage:hover {
  background: rgb(209, 209, 209);
}

.nextPage {
  margin-left: 10px;
  background-color: white;
  cursor: pointer;
  box-shadow: 5px 5px 3px 1px rgb(201, 201, 201)
}

.nextPage:hover {
  background: rgb(209, 209, 209);
}

.error{
  background-color: white;
  flex-direction: column;
  position: absolute;
  top: 10px;
  left: 10px;
  width: 300px;
  z-index: 9999;
  display: flex;
  align-items: center;
  animation-fill-mode: both;
  justify-content: center;
  animation-name: fadeInDown;
  animation-duration: 300ms;
  border: 1px solid;
  box-shadow: 5px 5px 3px 1px rgb(201, 201, 201)
}

@keyframes fadeInDown { 
  0% {             
      opacity: 0;
      transform: translate3d(0px, -100%, 0px);
  }
  100% {       
      opacity: 1;
      transform: none;
  }
}

.message{
  margin: 5px;
}