@import url('https://fonts.googleapis.com/css2?family=Architects+Daughter&display=swap');

*{
  font-family: 'Architects Daughter', cursive;
  color: rgb(82, 82, 92);
  font-size: 20px;
}

.app {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.h1 {
  margin-bottom: 0;
  text-align: center;
  font-size: 50px;
}

.add{
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.sum {
  padding-right: 20px;
  padding-top: 5px;
}

.enter{
  display: flex;
  align-items: center;
}

.input {
  display: flex;
  cursor: pointer;
  box-shadow: 10px 10px 3px 1px rgb(201, 201, 201)
}

.save {
  margin-left: 10px;
  background-color: white;
  cursor: pointer;
  box-shadow: 10px 10px 3px 1px rgb(201, 201, 201)
}

.buttons {
  display: flex;
  border-color: none;
}

.status {
  height: 40px;
  margin-right: 10px;
  background-color: white;
  cursor: pointer;
  box-shadow: 5px 5px 3px 1px rgb(201, 201, 201)
}

.status:hover {
  background: rgb(209, 209, 209);
} 

.statusSelected {
  height: 40px;
  margin-right: 10px;
  background: rgb(209, 209, 209);
  cursor: pointer;
  box-shadow: 5px 5px 3px 1px rgb(201, 201, 201)
}

.lettering {
  margin-top: 10px;
  margin-left: 80px;
  height: 30px;
}

.arrow {
  height: 40px;
  margin-left: 10px;
  background-color: white;
  cursor: pointer;
  box-shadow: 5px 5px 3px 1px rgb(201, 201, 201)
}

.arrow:hover {
  background: rgb(209, 209, 209);
} 

.todo-list {
  padding-left: 0;
}

.task {
  width: 500px;
  display: flex;
  justify-content: space-between;
  border: 2px solid;
  margin-top: 10px;
  margin-bottom: 10px;
  box-shadow: 5px 5px 3px 1px rgb(201, 201, 201)
}

.todo {
  cursor: pointer;
  border: 0;
  background-color: white;
}

.todo:hover {
  background: rgb(209, 209, 209);
} 

.tasks {
  margin-top: 10px;
}

span label input  {
  display: none;
}

label span {
  cursor: pointer;
  height: 7px;
  width: 7px;
  border: 2px solid gray;
  display: inline-block;
  position: relative;
  background-color: white;
  border-radius:25px;
  padding:3px;
  margin-left: 4px;
  margin-top: 6px;
}

[type=checkbox]:checked + span:before {
  content: '\2714';
  position: absolute;
  top: -5px;
  left: -1px;
  font-size: 18px;
  color:black;
}
.text {
  margin-left: -150px;
  margin-top: 10px;
  z-index: -1;
}

.date {
  margin-right: -150px;
  margin-top: 10px;
}

.remove {
  width: 30px;
  border-color: white;
  background-color: white;
  border: 0;
  cursor: pointer;
}

.remove:hover {
  background: rgb(209, 209, 209);
  border-color: white;
} 

.remove:hover::after {
  content: attr(data-tooltip);
  position: absolute;
  font-size: 25px;
  z-index: 3;
  background: black;
  color: white;
  border-color: white;
  outline: none;
}

.trash {
  height: 30px;
  width: 30px;
  margin-top: 7px;
}

.pages {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

ul.pagination {
  margin: 0;
  padding: 0;
}

.pagination {
  display: flex;
  align-items: center;
  justify-content: space-between;
  cursor: pointer;
  list-style-type: none; 
}

.page:hover {
  background: rgb(209, 209, 209);
  margin-bottom: 3px;
} 

.page {
  display: inline-block;
  border: 1px solid;
  height: 50px;
  width: 30px;
  font-size: 40px;
  text-decoration: none;
  box-shadow: 3px 3px 3px 1px rgb(201, 201, 201);
  margin-right: 5px;
  margin-left: 5px;
  text-align: center;
}

.prevPage {
  content: '\2714';
  margin-right: 10px;
  background-color: white;
  cursor: pointer;
  box-shadow: 5px 5px 3px 1px rgb(201, 201, 201)
}

.nextPage {
  margin-left: 10px;
  background-color: white;
  cursor: pointer;
  box-shadow: 5px 5px 3px 1px rgb(201, 201, 201)
}